<a href="https://colab.research.google.com/github/JHORIZ-RODEL-AQUINO/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Classes and Objects

Create A Class

In [2]:
class MyClass:
  pass

In [4]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [12]:
class OOP1_2:
  def __init__(self, name, age):
    self.name = name  # attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)


person = OOP1_2("Jhoriz", 19)  # create objects

print(person.name)
print(person.age)
print(person.identity)

Jhoriz
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f4004a18810>>

In [13]:
#Modify the Object Name

person.name = "Rodel"
print(person.name)
print(person.age)

Rodel
19

In [14]:
person.age = 38

print(person.name)
print(person.age)

Rodel
38

In [16]:
# Delete the Object

del person.name

AttributeError: ignored

In [17]:
print(person.name)

AttributeError: ignored

In [18]:
print(person.age)

38

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, side as attribute.

In [31]:
class Square:
  def __init__(self, side):
    self.side = side

  def area(self):
    return self.side * self.side

  def display(self):
    print("the area of the square is", self.area())


square = Square(4)

print(square.side)
square.display()

4
the area of the square is 16

Application 2 - Write a Python program that display your full name, age, course, school.
Create a calss named MyClass, and name, age, course and school as attributes.

In [50]:
class MyClass:
  def __init__(self, name, age, course, school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school

  def display_info(self):
    print("Name:", self.name)
    print("Age:", self.age)
    print("Course:", self.course)
    print("School:", self.school)

  def introduce_myself(self):
    print("\n\nHi guys!...")
    print("..My name is " + self.name + ". I am", self.age, 
          "years old...")
    print("...Just like y'all, I am also a first year student under " +
          "the course " + self.course + " here in " + self.school + "..")
    print("....I chose this course because I like the idea of engineering " +
          "combined with programming.....That's all !!!")

student_1 = MyClass("Jhoriz Rodel F. Aquino", 19, 
                    "BS in Computer Engineering", "Cavite State University")

student_1.display_info()
student_1.introduce_myself()

Name: Jhoriz Rodel F. Aquino
Age: 19
Course: BS in Computer Engineering
School: Cavite State University


Hi guys!...
..My name is Jhoriz Rodel F. Aquino. I am 19 years old...
...Just like y'all, I am also a first year student under the course BS in Computer Engineering here in Cavite State University..
....I chose this course because I like the idea of engineering combined with programming.....That's all !!!